:root {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ced3fd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Monoton";
  font-size: 60px;
  line-height: 60px
}

.summary-card h1 {
  line-height: 40px
}

.app-content-wrapper {
  margin: 1rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem; 

}

/* Components Structure */
.question-card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  font-size: 1em;
  background-color: white;
  border-radius: 0.3rem;
  height: 275px; 
  gap: 5px; 
}

.summary-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
    font-size: 1em;
    background-color: white;
    border-radius: 0.3rem;
    height: 275px;
    gap: 5px;
}

/* ---- Meadia query ----- */
@media (min-width: 744px) and (max-width: 1023px) {
  .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .app-content-wrapper {
    padding: 30px;
    width: 600px;
  }
    .summary-page {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

  .question-card {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .app-content-wrapper {
    width: 150vh;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

    header {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .button-container {
      grid-column-end: 3;
    }

    .summary-page {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      grid-column-start: 1;
      grid-column-end: 3;
      align-items: center;
    }

    .summary-card{
    width: 100vh;
    align-items: center;
  }

    .question-card {
      text-align: center;
      
    }
}