:root {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ced3fd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Monoton";
  font-size: 60px;
  line-height: 60px;
}

h1 {
  font-size: 24px;
}

.summary-card h1 {
  line-height: 40px
}

.app-content-wrapper {
  width: 350px;
}

.questions-content-wrapper {
  margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-page {
  display: flex; 
  flex-direction: column;
  gap: 1rem; 
}

/* Components Structure */
.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1em;
  background-color: white;
  border-radius: 0.3rem;
  height: 275px;
  gap: 5px;
}

/* ---- Media query ----- */
/* Tablet */
@media (min-width: 744px) and (max-width: 1023px) {
  .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .app-content-wrapper {
    margin: 8rem;
    width: 600px;
  }

  .question-card {
    text-align: center;
  }
  
  .summary-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    } 
}

/* Desktop */
@media (min-width: 1024px) {
  .app-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    }

  .questions-content-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 50px;
    align-items: center;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .question-header-h1 {
    align-self: end;
  }
    
  .summary-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .summary-card {
    width: 100vh;
    align-items: center;
  }

  .question-card {
    text-align: center;
  }

  .next-button  {
    grid-column-end: 3;
    align-self: start; 
   }

  .finish-button {
    grid-column-end: 3;
    align-self: start; 
  }
}