.progress-bar {
    width: 100%; 
    background-color: white; /* Background color of the progress bar container */
    height: 10px;
    border-radius: 10px; 
    overflow: hidden; /* Hide overflowing progress */
}
  
.progress {
    background-color: blue; /* Color of the progress indicator */
    height: 100%; 
    transition: width 0.3s;
    display: flex;
    align-items: center;
}

.progress-bar .progress p {
    margin-left: 10px;
    color: white;
}